<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"> <%= task.taskName  %> </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
      </div>
    </div>
  </div>

  <div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                  <li class="breadcrumb-item active"><%= task.taskName  %></li>
                </ol>
            </nav>
        </div>
        <div class="col text-end fw-light">
           <b>Last Updated <%= task.updatedAt %> </b><br>
           <b>UserId:</b> <%= task._id %>
        </div>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"> <b>Task Name:</b></div>
            <div class="col"><%= task.taskName %></div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"> <b>Task Description:</b></div>
            <div class="col"><%= task.details %></div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"> <b>Date Created:</b></div>
            <div class="col"><%= task.createdAt %></div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"> <b>Date Modified:</b></div>
            <div class="col"><%= task.updatedAt %></div>
        </div>
    </li>
  </ul>